# Playwright Data
web-app/storage/
web-app/playwright/.auth/admin.json

# Report from Playwright
web-app/playwright-report/

# Coverage from Playwright
web-app/.nyc_output/

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
.DS_Store
*.swp
*.orig

# Test binary, build with `go test -c`
*.test

.idea/
vendor/

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Ignore executables
target/
!pkg/logger/target/
console
!console/

dist/

# Ignore node_modules

web-app/node_modules/

# Ignore tls cert and key
private.key
public.crt

# Ignore VsCode files
.vscode/
*.code-workspace
*~
.eslintcache

# Ignore Bin files
bin/
