name: goreleaser

on:
  pull_request:
  push:

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v2
      -
        name: Unshallow
        run: git fetch --prune --unshallow
      -
        name: Set up Go
        uses: actions/setup-go@v1
        with:
          go-version: 1.14.x
      -
        name: Run GoReleaser
        uses: goreleaser/goreleaser-action@53acad1befee355d46f71cccf6ab4d885eb4f77f
        with:
          version: latest
          args: release --skip-publish --rm-dist --snapshot
      -
        name: Upload Win64 Binaries
        uses: actions/upload-artifact@v1
        if: success()
        with:
          name: MCS-Snapshot-Build-Win64
          path: dist/mcs_windows_amd64
      -
        name: Upload Linux Binaries
        uses: actions/upload-artifact@v1
        if: success()
        with:
          name: MCS-Snapshot-Build-Linux-amd64
          path: dist/mcs_linux_amd64
      -
        name: Upload MacOS Binaries
        uses: actions/upload-artifact@v1
        if: success()
        with:
          name: MCS-Snapshot-Build-MacOSX-amd64
          path: dist/mcs_darwin_amd64
